/*Web Fonts*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/us101-webfont.eot');
  src: url('../fonts/us101-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/us101-webfont.woff') format('woff'),
       url('../fonts/us101-webfont.ttf') format('truetype');
}

/*Main Styles*/

/* ---Banner--- */
.main-header {
  	text-align: center;
  	margin-top: 50px;
  	margin-left: 30px;
  	margin-right: 30px;
  	opacity: 0;
  	width: auto;	
}
#banner-img{
		width: 90%;
	}
/* End Banner*/

.primary-content {
	padding-top: 0;
  	padding-bottom: 95px;
  	text-align: center;
  	width: 85%;
  	padding: 5%;
  	margin: auto;
}

/* ----Header---- */
h1 {  
  	font-size: 19px; 
  	text-transform: uppercase;
  	font-weight: 500;
  	font-family: 'Open Sans';
  	color: #080000;
  	position: relative;
  	text-align: center;
  	margin-top: 75px; 	
}

h1 span {
  	background: #fff;
  	padding: 0 15px;
  	position: relative;
  	z-index: 1;
}


h1:before {
  	background: #ddd;
  	content: "";
  	display: block;
  	height: 1px;
  	position: absolute;
    top: 50%;
    right: 4%;
  	left: 4%;
}
/*---End Header---*/

.row{
	padding-bottom: 35px;
	opacity: 0;
}

.img-border{
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
}

h2 {
	  font-size: 18px; 
	  font-weight: normal;
	  font-family: 'Open Sans';
	  color: #080000;
	  margin-top: 8px;
	  font-style: block;
}

h3 {
  	font-size: 11px; 
  	color: #989898; 
  	font-family: 'Open Sans';
  	margin-top: -8px;
	padding: 0 15px;
}
/*---toolkit styles---*/
.tool-one, .tool-two, .tool-three, .tool-four{
	color: #989898;
	font-size: 11px;
	font-family: 'Open Sans'
}

/*---Button---*/
.button-design {
	background-color: #ffffff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #909090;
	cursor: pointer;
	color: #080000;
	font-family: 'Open Sans';
	font-size: 18px;
	padding: 8px 45px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	display: block; 
	width: 100%;
}
.button-design:hover {
  background-color: #C0C0C0;
}

.button-bottom-padding {
	padding-bottom: 75px;
}

/*---Modal Styles---*/
#myModalLabel{
	font-family: 'Open Sans';
	color: #080000;
	font-weight: 700;
}
.control-label{
	float: left;
	padding-left: 30px;
	font-family: 'Open Sans';
	color: #707070;
	font-weight: 600;
}

.btn-primary{
	background-color: #080000;
}

.btn-default{
	background-color: #A0A0A0;
}

.btn-primary:hover{
	color: #ffffff;
	background-color: #505050;
}


/*---Media Queries---*/
/*inlcudes large mobile screens*/
@media (max-width: 550px){
	#banner-wrapper{
		display: none;
	}
}






