/*web fonts*/


/*main styles*/
.main-header {
  	text-align: center;
  	margin-top: 50px;
  	margin-left: 30px;
  	margin-right: 30px;
}



h2 {
	  font-size: 18px; 
	  font-weight: normal;
	  font-family: 'Open Sans';
	  color: #080000;
	  margin-top: 8px;
}

h3 {
  	font-size: 11px; 
  	color: #989898; 
  	font-family: 'Open Sans';
  	margin-top: -8px;
	padding: 0 15px;
}


.primary-content {
	padding-top: 0;
  	padding-bottom: 95px;
  	text-align: center;
  	width: 85%;
  	padding: 5%;
  	margin: auto;
}

h1 {  
  	font-size: 19px; 
  	text-transform: uppercase;
  	font-weight: 500;
  	font-family: 'Open Sans';
  	color: #080000;
  	position: relative;
  	text-align: center;
  	margin-top: 75px;
  	
  	
}

h1 span {
  	background: #fff;
  	padding: 0 15px;
  	position: relative;
  	z-index: 1;
}

h1:before {
  	background: #ddd;
  	content: "";
  	display: block;
  	height: 1px;
  	position: absolute;
    top: 50%;
    right: 4%;
  	left: 4%;
}

.row{
	padding-bottom: 35px;
	opacity: 0;
}

.img-border{
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
}


.button-design {
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #909090;
	display: inline-block;
	cursor: pointer;
	color: #080000;
	font-family: 'Open Sans';
	font-size: 18px;
	padding: 6px 50px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	width: 490px;
}
.button-design:hover {
  background-color: #808080;
}

.btn-md{
	color:#080000;
	font-family:'Open Sans';
	font-size: 18px;

	margin-bottom: 50px;

}

.left-button{
	float: left;
	padding-left: 2%;
	padding-bottom: 50px;
	width: 45%;
}
.right-button{
	float: right;
	padding-right:2%;
	padding-bottom: 50px;
	width: 45%;
}

/*Media Queries*/

@media (max-width: 500px){
	#banner-wrapper{
		display: none;
	}
	/*.left-button {
		float: center;
		width: 50%;
	}
	.right-button{
		float: center;
		width: 50%;
	}*/
}






